[[source]]
url = "http://pypi.douban.com/simple"
verify_ssl = false
name = "douban"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-jenkins = "==1.0.1"
requests = "*"
ujson = "*"
arrow = "*"
furl = "==1.1"

[dev-packages]
pytest = "3.6.0"

[requires]
python_version = "3.6"
