[[source]]
url = "http://pypi.douban.com/simple"
verify_ssl = false
name = "douban"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-jenkins = "==1.1.0"
requests = "==2.19.1"
ujson = "*"
arrow = "*"
furl = "==1.2"
schedule = "*"

[dev-packages]
pytest = "==3.6.3"

[requires]
python_version = "3.6"
